* {font-family: Arial, Helvetica, sans-serif;}



/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: black;
  text-decoration-line: underline;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration-line: underline;
}

/* selected link */
a:active {
  color: transparent;
}